header {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    .logo {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid 1px black;
    }
}
.search-area {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    .button-search {
        background-color: rgba($color: #c0a5f1, $alpha: 1);        
        padding: 10px;
        text-align: center;
    }
    .typing-search {
        background-color: rgba($color: #f8bff0, $alpha: 1);
        padding: 10px;
        text-align: center;
    }
}
.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    .category {
        background-color: rgba(255, 255, 0, 0.3);
        width: 12.5%;
        padding-top: 20px;
        .item {
            background-color: rgba($color: #059afd, $alpha: 1.0);
            padding: 10px 30px;
            margin-bottom: 10px;
        }
    }
    .view {
        width: 100%;
        overflow-y: scroll;
        .banner {
            height: 20%;
            display: grid;
            grid-template-columns: 4fr 2fr;
            .slide-banner {
                background-color: rgba($color: #98cbff, $alpha: 0.5);
                display: flex;
                justify-content: center;
            }
            .video-banner {
                background-color: rgba($color: #47fff0, $alpha: 0.5);
                display: flex;
                justify-content: center;
            }
        }
        .product {
            background-color: rgba($color: #8eeccd, $alpha: 1);
            min-height: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 250px;
            .item {
                background-color: rgba($color: #b53efa, $alpha: 1.0);
                border: solid 1px #333;
                flex-grow: 1;
            }
        }
    }
}
.cart {
    background-color: rgba($color: #f6afff, $alpha: 1.0);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: none;
}